
<div class = "container-fluid">
  <h1>Recipes</h1>

  <div class = "row">
    <% @recipes.each do |recipe| %>
      <%= recipe.name %>
    <% end %>
  </div>

  <div class = "row">
    <h3>Input a new recipe</h3>
    <form action="/recipes" method="post">
      <%= render("/layouts/form") %>
      <button class= "btn btn-success">Submit</button>
    </form>
  </div>
</div>
