
<div class = "container-fluid">
  <h1><%= @recipe.name %></h1>

  <div class = "row">
    <h2>Recipe Directions</h2>
    <p><%= @recipe.description %></p>
  </div>
  <div class = "row">
    <div class ="col-xs-1">
      <a href="/recipes/<%= @recipe.id %>/edit">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </a>
    </div>
    <div class ="col-xs-1">
      <a href="/recipes/<%= @recipe.id %>/edit">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </a>
    </div>
  </div>
  <br>
  <a href="/recipes">Recipe List</a>

</div>
