<div class="container-fluid">
  <div class="row">
    <h2>Tag Detail</h2>
    <% if @tag.name != "" %>
        <p>Tag Name: <%= @tag.name %></p>
    <% else %>
        <p>Tag Name: Invalid entry.</p>
    <% end %>
  </div>
  <br><br>
  <div class="row">
    <h4>Update tag Details</h4>

    <form action="/tags/<%= @tag.id %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <%= render('/layouts/tag_form') %>
      <button class="btn btn-primary">Update</button>
    </form>
  </div>

  <div id = "error_box" class="row">
    <%= render('/layouts/errors', :object => @tag) %>
  </div>

</div>
