
<div class = "container-fluid">
  <h1><%= @tag.name %></h1>

  <div class = "row">
    <div class ="col-xs-1">
      <a href="/tags/<%= @tag.id %>/edit">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </a>
    </div>
    <div class ="col-xs-2">
      <a href="/tags/<%= @tag.id %>" rel="nofollow" data-method="delete" data-confirm="Really, please don't? ">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </a>
    </div>
  </div>
  <br>
  <a href="/tags">tag List</a>

</div>
