<label for="recipe_name">Name </label>
<input id="recipe_name" name="recipe[name]" value="<%= @recipe.name %>">
<label for="description">Description</label>
<input id="description" name="recipe[description]" value="<%= @recipe.description %>">
